<p>
  <a href="/images/.jpg" target="_blank" title="Click to view full-size version.">
	<picture>
      <source srcset="/images/thumb/.webp"
              media="(min-width: 240px)">
		<img src="/images/thumb/.jpg" alt="" />
	</picture>
  </a>
</p>
