html{font-size:medium;}
body{font-size:1rem;line-height:1.5;background-color:#fffff0;color:#16161d;padding:1rem;}
p,h1,h2,h3,h4,h5,h6{hyphen:auto;}
dt{font-weight: bold;}
dd{margin-bottom:1rem;}
h1,h2,h3{line-height:1.2;}
pre{overflow:auto;}
pre,code{font-size:1.1rem;font-family:monospace;}
th,td{padding-right:2rem;}
blockquote{border-left:1px solid #16161d;padding-left:1rem;}
cite{font-style:normal;}
img{max-width:100%;}
hr{border-style:none;height:1px;background-color:#16161d;}
kbd{font-family:monospace;border-radius:3px;padding:1px 2px 0;border:1px solid #16161d;}
figure>blockquote{margin-left:0;}
a{color:#3333ff;}
a:hover{color:#6600ff;}
a:active{color:#cc0000;}
a:visited{color:#9933cc;}
@media only print{html{font-size:12px;}}
@media only screen and (min-device-width:1366px){html{font-size:large;}}
@media only screen and (min-device-width:1920px){html{font-size:larger;}}
