<section>
  <h3>Fine Print</h3>
  <p><small>The content on this site is available under the <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Creative Commons BY-NC-SA 4.0 license</a>. All opinions expressed therein are mine unless otherwise attributed, and do not represent my employers’ views or those of their clients.</small></p>
</section>
