<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="referrer" content="no-referrer">
<meta name="keywords" content="Matthew Graybosch, sci-fi, author, developer, science fantasy, Starbreaker, Without Bloodshed, Silent Clarion, The Milgram Battery, Limited Liability, OpenBSD, Linux, Mewnix">
<meta property="og:image" content="https://matthewgraybosch.com/images/starbreaker.jpg">
<meta name="twitter:image" content="https://matthewgraybosch.com/images/starbreaker.jpg">
<meta name="twitter:image:alt" content="artwork commissioned from Sara McSorley">
<meta name="twitter:card" content="summary">	
<link href="/images/thumb/icon.png" rel="shortcut icon" type="image/x-icon">
<link href="/css/style.css" rel="stylesheet" type="text/css">
